* {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}
header {
    background-color: rgb(201, 180, 112);
    text-align: center;

}

header h1 {
    font-family:Amita;
    color: rgb(94, 76, 17);
    font-size: 3em;
}

header #samilogo {
    width: 100dvw;
}

#titulo-img {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#titulo-img button {
    position: absolute;
    right: 0;
    height: 50px;
}


/* Menu desplegable para movil */
.menu {
    display: none;
}

.menu-hamb {
    text-align: end;
    margin-right: 10px;
    padding-bottom: 10px;
}

.menu-hamb nav.menu {
    text-align: end;
}






header ul li {
    font-size: 1.1em;
    color: aliceblue;
    font-family: Amita;

}

header ul li:hover {
    color: rgb(75, 65, 24);
}



header li {
    list-style: none;
}

header ul li.activo {
 color: rgb(107, 86, 41);
}



main section .cafes {
    border: 2px rgb(255, 255, 255) solid;
    background-color: white;
    width: 80dvw;
    padding: 2vh;
    border-radius: 3%;
    margin: 10px;
    text-align: center;

}

main section .cafes img {
    width: 100%;
}

.abrir-seccion {
    background-color: rgb(107, 86, 41);
    color: beige;
    display: flex;
    height: 8vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    column-gap: 30vw;
    font-size: 2em;
}

.boton-abrir-seccion {
    position: absolute;
    right: 3vw;
    background-color: beige;
    color: rgb(107, 86, 41);
    font-size: 0.6em;
}

.oculto {
    display: none;
}


.visible {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 10%;
    background-color: rgb(219, 207, 165);
    justify-content: center;
}



.cafes h3 {
    color: rgb(107, 86, 41);
    font-family:Amita ;
    font-size: 2em;
}


.cafes p {
    color: rgb(148, 116, 46);
    font-family:Amita ;
    font-size: 1.3em;
}


.cafes p.precio {
    color: rgb(0, 0, 0);
    font-family:Amita ;
}



@media (min-width: 1000px) {


    main section .cafes {
     
        width: 30dvw;
        
    
    }
    .oculto {
        display: none;
    }
    .visible {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        row-gap: 5px;
        column-gap: 10%;
        background-color: rgb(219, 207, 165);
    }

}